/* src/app/globals.css */

/* 1. 테일윈드 기본 기능을 불러옵니다 (이건 필수!) */
@tailwind base;
@tailwind components;
@tailwind utilities;





/* 뱃지 박스는 가만히 있고, 그 위의 '가상 요소'만 움직입니다 */
.aparty-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  /* 애니메이션을 여기에만 걸어야 뱃지가 안 움직입니다! */
  animation: shimmer-sweep 2.5s infinite linear;
  pointer-events: none;
}